<input required type="file" id="img" placeholder="picture" class="no-file-selected" >
<textarea hidden class="form-control input-sm sr-only" id="input_picture" name="input_picture"></textarea>

<div id="results" class="mycam img-responsive" name="img-responsive"></div>


<!-- jQuery 2.1.4 -->
<script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo($templates); ?>file_upload.css">

<script src="dist/js/sys/jquery.validate.min.js"></script>
<script src="<?php echo($templates); ?>file_upload.js"></script>
